@import url('https://fonts.googleapis.com/css?family=Sofia');

*{
    font-family: $secondary-font;
}

body {
    background-color: $black;
    font-size: $base-font-size;
}

.container{
    width: 98%;
    height: auto;
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
    flex-direction: row;
}
.headline{
    text-align: center;
    margin: $base-margin;
    padding: $base-padding;    
    font-size: $font-size-xxl;
    font-family: $primary-font;
    color:$warning;
    border-radius: $base-border-radius;
    box-shadow: 2px 4px 15px 2px $warning; /* this adds the "card" effect */
}

.decor{
    border-radius: $base-border-radius;
}