$dark: #0F7173;
$whitish: #cbdbf3;
$backColor: white;
$light: wheat;
$warning: crimson;
$pear: #d1e231;
$black: black;

//colors palatte
$colors: (
    "dark": $dark,
    "whitish": $whitish,
    "light": wheat,
    "warning": crimson,
    "pear": $pear,
    "black": black
);

// font sizes
$base-font-size: 1em;
$base-font-weight: 100;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

//image size
$base-image-width: 15em;
$base-image-height: 15em;

//spacing
$base-padding: 0.75rem;
$base-margin: 1rem;

// box-shadow
$base-box-shadow: 1px 3px 5px #0000001a;

//font-family
$primary-font: Sofia;
$secondary-font: Arial;

//borders
$base-border-radius: 0.5em;
