:root {
    --dark: #0F7173;
    --whitish: #b6cae7;
    --backColor: white;
    --light: wheat;
    --warning: crimson;
    --pear: #d1e231;
    --charcoal: darkslategray;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
/*container*/
body {
    background-color: var(--backColor);
    font-size: 1em;
}

.container{
    width: 98%;
    height: auto;
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
    flex-direction: row;
}

.card{
    box-shadow: 0 4px 20px 0 var(--warning); /* this adds the "card" effect */
    margin: 2%;
    padding: 1%;
    border: double;
    text-align: center;
}

.card--light{
    background-color: var(--light);
}

.radius{
    border-radius: 0.5em;
}

.card--dark{
    background-color: var(--dark);
}

/*content*/
.picture {
    max-width: 15em;
    max-height: 15em;
}

.headline{
    text-align: center;
    padding: 3% 0 0 5%;    
    font-size: 3em;
}

.card__Heading{
    font-family: Sofia;
}

/*skin*/
.button{
	height: 8%;
    border: 2px groove black;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 0.5em;
}

.button :hover {
    background-color: var(--pear);
    color: var(--charcoal);
    border-radius: 0.3em;
	border-bottom: 2px solid var(--dark);
}

.button--link{
    color: var(--charcoal);
	text-decoration: none;
}

.button--light{
    background-color: var(--whitish);
}

.button--dark{
    background-color: var(--warning);
}

.decor{
    text-decoration: underline var(--warning);
}

/* Responsive columns - one column layout (vertical) on small screens */
@media only screen and (max-width: 700px) {
    .container {
      width: 98%;
      flex-direction: column;
    }
    .picture{
        width: 95%;
    }
    .card{
        width: 95%;
    }
}