

body {
    background-color: honeydew;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.container{
    
}

.card{
    box-shadow: 0 4px 20px 0 crimson; /* this adds the "card" effect */
    margin-left: 10%;
    padding: 1%;
    border: double;
    text-align: center;
}

img {
    max-width: 200px;
}

/* Happy coding! */