:root {
    --dark: #0F7173;
    --BackColor: honeydew;
    --light: wheat;
    --crimson: crimson;
    --red: red;
}
/*container*/
body {
    background-color: var(--BackColor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.container{
    display: flex;
    justify-content:center;
    flex-direction: row;
}

.card{
    box-shadow: 0 4px 20px 0 var(--crimson); /* this adds the "card" effect */
    margin-left: 10%;
    padding: 1%;
    border: double;
    text-align: center;
}

.yoda{
    background-color: var(--light);
}

.vader{
    background-color: var(--dark);
}

/*content*/
.picture {
    max-width: 15em;
}
.headline{
    padding: 3% 0 0 5%;    
}

.cardHeading{
    font-family: Sofia;
}

.button{
    padding-left: 5px;
	padding-right: 5px;
	height: 25px;
}

/*skin*/
.btn-light{
    background-color: var(--BackColor);
}

.btn-dark{
    background-color: var(--red);
}

.decor{
    color: var(--crimson);
    text-decoration: underline var(--crimson);
}


/* Responsive columns - one column layout (vertical) on small screens */
@media only screen and (max-width: 700px) {
    .container {
      width: 98%;
      flex-direction: column;
    }
    .picture{
        width: 95%;
    }
    .card{
        width: 95%;
    }
}